.about_container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about_img{
    position: relative;
    width: 370px;
    border-radius: 1.5rem;
    filter: brightness(150%);
    justify-self: center;
    box-shadow:  0 0 0 5px rgb(2, 2, 34);  
    animation: animate 2s ease-in-out infinite 1s; 
}

@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.about_info{
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}
.about_box{
    background-color: var(--container-color);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 1rem 1.25rem;
    transition: 0.3s;
}
.about_box:hover{
    transform: scale(1.2);
}
.about_icon{
    font-size: 1.5rem;
    color: var(--title-color-dark);
    margin-bottom: var(--mb-0-5);
}
.about_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about_subtitle{
    font-size: var(--tiny-font-size);
}
.about_description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
    color: var(--title-color);

}

@media screen and (max-width: 992px) {
   .about_container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 2.5rem;
   }
   .about_img{
    width: 300px;
   }
   .about_box{
    padding: 0.75rem 0.5rem;
   }
   .about_data{
    text-align: center;
   }
   .about_info{
    justify-content: center;
   }
   .about_description{
    margin-bottom: 2rem;
    padding: 0 2rem;
   }
}

@media screen and (max-width: 768px) {
    .about_container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
       }
       .about_img{
        width: 250px;
       }
       .about_box{
        padding: 0 auto;
       }
  
}
  
  /* for small device*/
@media screen and (max-width: 576px) {
      .about_description{
        padding: 0;
      }
    
}


